@media (max-width:1200px)
  .container
    max-width: 960px

  .hotel
    &-slider
      width: 590px
      &__img
        height: 100%
  .card
    width: 225px
    height: 225px
@media (max-width:992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__item

        margin-right: 12px
        margin-left: 13px
      &__link
        font-size: 12px
        line-height: 15px
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
      margin-right: 73px

  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 56px
    &-grid
      flex-direction: column
    &-slider
      width: 100%
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
  .booking
    width: 340px
  .map
    width: 340px
  .newsletter
    padding-top: 97px
  .reviews
    &-slider
      &__button
        top: 45%
        &--prev
          left: 2px
        &--next
          right: 0
      &__item
        margin: 45px auto 0
        max-width: 580px
        &:before
          display: none
        &:after
          display: none
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
  .activities
    padding-bottom: 70px
    padding-top: 50px
    &__card
      &--null
        white-space: pre-line
      &--third
        white-space: pre-line
      &--second
        white-space: pre-line
      &--first
        white-space: pre-line
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 255px
    &__image
      object-fit: cover

@media (max-width:767px)
  .container
    max-width: 576px
    width: 96%
  .navbar
    &-menu, &__search, &__user
      display: none
    .menu
      &-button
        display: flex
        align-items: center
        justify-content: space-between
        flex-direction: column
        border: none
        width: 16px
        height: 11px
        background-color: $light
        cursor: pointer
        &__line
          width: 16px
          height: 1px
          background-color: $text-color

  .hotel
    padding-top: 1px
    .stars
      flex-basis: auto
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between

    &-info
      &__text
        width: 100%
      &__name
        margin-top: 15px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-slider
      height: 350px
    &-right
      flex-direction: column
      min-height: 450px

  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &__title
      margin-bottom: 37px
  .newsletter-wrapper
    flex-direction: column
    max-width: 576px
    width: 96%
    align-items: flex-start
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
      &__button
        top: 32px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -65px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -65px
    &__title
      font-size: 20px
      line-height: 23px
      margin-bottom: 42px
  .card
    width: 48%
    height: 255px
  .activities
    padding-top: 40px
    padding-bottom: 60px

@media (max-width:576px)
  .container
    width: 96%
  .hotel
    &-info
      padding-bottom: 36px
      &__stars
        margin-right: 12px
        margin-top: 2px
    &-slider
      height: 300px
    &__slider
      margin-bottom: 20px
  .logo
    width: 99px
  .navbar
    &-top
      padding-top: 23px
      padding-bottom: 28px
  .newsletter
    padding-top: 76px
    padding-bottom: 83px
    &-wrapper
      width: 87%
    &__title
      margin-bottom: 37px
    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px
  .subscribe
    width: 100%
    &__input
      padding-left: 19px
  .reviews
    &-slider
      &__text
        max-height: 100%
      &__button
        &--prev
          margin-left: -91px
        &--next
          margin-right: -87px
    &__title
      font-size: 18px
      line-height: 23px
      padding: 0 13px
  .card
    width: 100%

    &__title
      margin-bottom: 15px
  .activities
    padding-top: 27px
    &__card
      &--null
        white-space: pre-line
      &--third
        order: 1
      &--second
        order: 0
        white-space: pre-line
      &--first
        order: 1
        white-space: pre-line

    &__title
      font-size: 18px
      line-height: 23px
      padding-bottom: 36px

@media (max-width:360px)
  .container
    max-width: 280px
  .hotel
    padding-bottom: 40px
    &-slider
      height: 183px
      &__button--next
        background-size: 4px
        right: 5px
      &__button--prev
        background-size: 4px
        left: 5px
  .map
    height: 221px
  .newsletter
    padding-top: 32px
