@media (max-width:1200px)
  .container
    max-width: 960px
    width: 95%

@media (max-width:992px)
  .container
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__item
        margin-top: -4px
        margin-left: 10px
      &__link
        font-size: 12px
        line-height: 15px
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
      margin-right: 73px
      margin-bottom: -3px
  .search
    &__input
      width: 340px
  .breadcrump
    &__list
      margin-top: 3px

@media (max-width:767px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &-menu, &__search, &__user
      display: none
    .menu
      &-button
        display: flex
        align-items: center
        justify-content: space-between
        flex-direction: column
        border: none
        width: 16px
        height: 11px
        background-color: $light
        cursor: pointer
        &__line
          width: 16px
          height: 1px
          background-color: $text-color

  .hotel
    .stars
      flex-basis: auto
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
      margin-top: -13px
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0

@media (max-width:576px)
  .logo
    width: 99px
  .menu
    &-button
      margin-right: 14px
      margin-top: 7px
