@media (max-width:1200px)
  .container
    max-width: 960px

  .hotel
    &-slider
      width: 590px
      &__img
        height: 100%
  .card
    width: 225px
    height: 225px
  .packages
    &-grid
      grid-template-columns: 1fr 1fr 1fr

  .trip-column
    &__item
      padding-bottom: 13%
  .trip-row
    &__item
      padding-top: 39px
  .footer
    &__input
      flex-basis: 100%
    &__info-button
      min-width: 465px
@media (max-width:992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-menu
      max-width: 673px
      padding-top: 22px
      padding-bottom: 22px
      margin: 0
      &__item
        white-space: nowrap
        margin-right: 13px
        margin-left: 13px
      &__link
        font-size: 12px
        line-height: 15px
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
      margin-right: 73px

  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 56px
    &-grid
      flex-direction: column
    &-slider
      width: 100%
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
  .booking
    width: 340px
  .map
    width: 340px
  .newsletter
    padding-top: 91px
    padding-bottom: 93px
  .reviews
    &-slider
      &__button
        top: 45%
        &--prev
          left: 2px
        &--next
          right: 0
      &__text
        text-align: justify
      &__item
        margin: 45px auto 0
        max-width: 580px
        &:before
          display: none
        &:after
          display: none
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
  .packages
    padding-top: 38px
    padding-bottom: 72px
  .activities
    padding-bottom: 44px
    padding-top: 53px

    &__card
      &--null
        white-space: pre-line
      &--third
        white-space: pre-line
      &--second
        white-space: pre-line
      &--first
        white-space: pre-line
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 23px
  .card
    width: 340px
    height: 255px
    &__image
      object-fit: cover
  .packages
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &-grid
      grid-template-columns: 1fr 1fr
      grid-template-rows: 500px minmax(500px, 1fr)
  .trip-column
    &__item
      padding-bottom: 10%
  .footer
    padding-top: 72px
    padding-bottom: 30px
    &-wrapper
      grid-template-columns: repeat (6)
      grid-row-gap: 48px
      padding-bottom: 56px
    &__title
    &__info-button
      min-width: 539px
    &__logo-link
      width: 97px
      grid-row: 1 / 2
      grid-column: span 2
    &__input
      flex-basis: 47%
    &__form
      margin-bottom: 2px

    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
        padding-left: 0
        margin-left: -58px
        margin-top: 10px
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
      padding-left: 0
    &__additional
      grid-column: span 2
      min-width: 260px
      margin-right: 10px
    &__legal
      grid-column: span 1
      max-width: 200px
      padding-right: 0
    &__contact
      &-details
        grid-row: 3
        grid-column: span 5
      &-form
        padding-top: 15px
        max-width: 539px
        padding-left: 0
        grid-row: 4 / 5
        grid-column: span 5
@media (max-width:767px)
  body
    padding-top: 78px
  .container
    max-width: 576px
    width: 96%
  .navbar
    &--mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__user, &__search
      &--mobile
        &_hidden
          display: none
        &_visible
          display: flex
    &__search
      margin-right: 0
      margin-bottom: 19px
    &__user
      flex-direction: column
      justify-content: center
      margin-bottom: 12px
    &-bottom

      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      &--visible
        display: block
    &-menu
      flex-direction: column

      &__item
        margin-bottom: 17px
        margin-right: 0
        margin-left: 0
        &--mobile
          &_visible
            display: block
    .search
      &__input
        max-width: 245px
    .menu
      &-button
        display: flex
        align-items: center
        justify-content: space-between
        flex-direction: column
        border: none
        width: 16px
        height: 11px
        background-color: $light
        cursor: pointer
        &__line
          width: 16px
          height: 1px
          background-color: $text-color
    .user
      &__name
        &--light
          color: $light
          margin-left: 0
          margin-top: 10px

  .hotel
    padding-top: 1px
    .stars
      flex-basis: auto
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between

    &-info
      &__text
        width: 100%
      &__name
        margin-top: 15px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-slider
      height: 350px
    &-right
      flex-direction: column
      min-height: 450px

  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &__title
      margin-bottom: 37px
  .newsletter-wrapper
    flex-direction: column
    max-width: 576px
    width: 96%
    align-items: flex-start
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
      &__button
        top: 32px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -65px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -65px
    &__title
      font-size: 20px
      line-height: 23px
      margin-bottom: 42px
  .card
    width: 48%
    height: 255px
  .activities
    padding-top: 40px
    padding-bottom: 37px
  .trip-row, .trip-column
    &__rating
      display: none
    &__sale
      font-size: 20px
      line-height: 26px
    &__crossout
      font-size: 12px
      line-height: 16px
    &__button
      padding: 8px 24px
      font-size: 12px
      line-height: 17px
  .packages
    padding-top: 30px
    &__title
      font-size: 20px
      line-height: 23px
      margin-bottom: 42px
  .footer
    &__input
      flex-basis: 100%
    &-wrapper
      grid-template-columns: 1fr
      grid-row-gap: 34px
      padding-bottom: 27px
    &__title
      &--inline
        margin-bottom: 20px
        margin-right: 0
      &--mb-3
        margin-bottom: 23px
    &__logo-link
      grid-row: 1
      grid-column: 1
      max-width: 98px
    &__message
      margin-bottom: 13px
    &__social
      &-network
        flex-direction: column
        align-items: flex-start
        align-self: center
        margin-left: 0
        grid-row: 2
        grid-column: 1
    &__additional
      grid-row: 4
      grid-column: 1
      justify-self: start
    &__categories
      grid-row: 5
      grid-column: 1
    &__legal
      grid-row: 3
      grid-column: 1
      justify-self: start
    &__info-button
      display: flex
      flex-direction: column
      justify-content: space-between
      min-height: 80px
    &__info
      order: -1
      justify-self: flex-start
      margin-top: 0
    &__info-button
      min-width: 0
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__button
      width: 100%
@media (max-width:576px)
  .container
    width: 96%
  .hotel
    &-info
      padding-bottom: 36px
      &__stars
        margin-right: 12px
        margin-top: 2px
    &-slider
      height: 300px
    &__slider
      margin-bottom: 20px
  .logo
    width: 99px
  .navbar
    &-top
      padding-top: 23px
      padding-bottom: 28px
  .newsletter
    min-height: 320px
    padding-top: 76px
    padding-bottom: 83px
    &-wrapper
      width: 87%
    &__title
      margin-bottom: 37px
    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px
  .subscribe
    width: 100%
    &__input
      padding-left: 19px
  .reviews
    &-slider
      &__text
        max-height: 100%
        text-align: left
      &__button
        &--prev
          margin-left: -91px
        &--next
          margin-right: -87px
    &__title
      font-size: 18px
      line-height: 23px
      padding: 0 13px
  .card
    width: 100%

    &__title
      margin-bottom: 17px
  .activities
    padding-top: 27px
    &__card
      &--null
        white-space: pre-line
      &--third
        order: 1
      &--second
        order: 0
        white-space: pre-line
      &--first
        order: 1
        white-space: pre-line

    &__title
      font-size: 18px
      line-height: 23px
      padding-bottom: 36px
  .packages
    padding-top: 25px
    padding-bottom: 19px
    &__title
      font-size: 18px
      line-height: 23px
    &-grid
      grid-template-columns: 1fr
      grid-template-rows: minmax(500px, 1fr)
  .trip-column
    &__item
      padding-bottom: 8%
  .trip-row
    grid-column-start: span 1
    flex-direction: column
    &__photo
      position: relative
    &__img
      display: block
      object-fit: cover
      width: 100%
      height: 250px
    &__desc
      display: none
    &__offer
      left: 0
      top: 30px
      padding: 4px 9px
      font-style: normal
      font-weight: 600
      font-size: 8px
      line-height: 10px
      border-radius: 0px 4px 4px 0px
    &__item
      padding: 30px 20px 6% 32px
      flex-direction: column
    &__title
      margin: 0
      margin-bottom: 23px
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
    &__room
      margin-bottom: 24px
    &__info
      display: flex
      align-items: center
      margin-bottom: 11px
    &__label
      margin-left: 14px
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 15px
    &__price
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      align-items: center
  .footer
    padding-top: 66px
    padding-bottom: 22px
    &__title
      margin-bottom: 11px
      &--pt
        padding-top: 12px
    &__contact-form
      padding-top: 26px
    &__icon
      margin-right: 10px
    &-wrapper
      grid-template-columns: 1fr
      grid-row-gap: 33px
      padding-bottom: 25px
    &__title
      &--inline
        margin-bottom: 24px
        margin-right: 0
      &--mb-3
        margin-bottom: 18px
    &__logo-link
      grid-row: 1
      grid-column: 1

    &__message
      margin-bottom: 19px
    &__social
      &-network
        flex-direction: column
        align-items: flex-start
        align-self: center
        margin-left: 0
        grid-row: 2
        grid-column: 1
        margin-top: 6px
    &__additional
      grid-row: 4
      grid-column: 1
      justify-self: start
    &__categories
      grid-row: 5
      grid-column: 1
    &__legal
      grid-row: 3
      grid-column: 1
      justify-self: start
    &__info-button
      display: flex
      flex-direction: column
      justify-content: space-between
      min-height: 80px
    &__info
      order: -1
      justify-self: flex-start
      margin-top: 0
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
  .footer-bottom
    width: 100%
    flex-wrap: wrap
    &__note
      flex-basis: 100%
      margin-bottom: 10px
  .contact-details
    &__link
      word-wrap: break-word
@media (max-width:360px)
  .container
    max-width: 280px
  .hotel
    padding-bottom: 40px
    &-slider
      height: 183px
      &__button--next
        background-size: 4px
        right: 5px
      &__button--prev
        background-size: 4px
        left: 5px
  .map
    height: 221px
  .newsletter
    padding-top: 81px
